table,td,th {
  border:solid 1px black;
}
table{
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

th {
  background-color: gray;
  color: white;
}


td, th{
  display: table-cell;
  text-align: inherit;
}
